Repository asergian/beacon: changes, and which pre-commit hooks are due for each by the changed paths.
All: docstring-check, readme-check

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:
    -   id: docstring-check
        name: Check docstrings
        entry: python scripts/check_docstrings.py app
        language: system
        pass_filenames: false
        types: [python]
        
    -   id: readme-check
        name: Check READMEs
        entry: cd docs && make check-readme
        language: system
        pass_filenames: false
        files: 'README\.md$'

fix: updated sphinx logos and routing
  .gitignore
  app/routes/static_pages.py
  app/utils/README.md
  docs/sphinx/source/_static/beacon-logo.svg
  docs/sphinx/source/_static/beacon_logo.png
  docs/sphinx/source/_static/create_images.py
  docs/sphinx/source/_static/email_analysis_flow.png
Due: docstring-check, readme-check

feature: added auto-generated requirements.txt in build.sh using pipreqs
  build.sh
  requirements.txt
  scripts/smart_requirements.py
  scripts/update_requirements.sh
Due: docstring-check

fix: updated check_string min_coverage to 95% and fixed related bugs
  .pre-commit-config.yaml
  scripts/check_docstrings.py
Due: docstring-check

feature: updated links to documentation in footer
  app/static/css/base/layout.css
  app/static/css/pages/login.css
  app/templates/base.html
  app/templates/login.html
  app/templates/static/support.html
Due: none

feature: refreshed Sphinx documentation theme to use furo
  docs/sphinx/source/conf.py
  requirements.txt
Due: docstring-check

fix: minor doc generation errors
  app/email/clients/gmail/core/quota.py
  app/email/clients/gmail/worker/__init__.py
  app/email/clients/gmail/worker/api_client.py
  app/email/clients/gmail/worker/main.py
  app/email/pipeline/orchestrator.py
  app/routes/static_pages.py
  docs/sphinx/source/_static/create_images.py
  docs/sphinx/source/_static/custom.css
  docs/sphinx/source/conf.py
  docs/sphinx/source/development.rst
Due: docstring-check

added main PR pre-commit doc checks
  .github/workflows/doc-checks.yml
  docs/sphinx/source/_static/beacon_logo.svg
Due: none

Add GitHub Actions workflow for documentation checks
  .github/workflows/doc-checks.yml
Due: none

fix: updated Github Actions doc checks script and added remaining docstring
  .github/workflows/doc-checks.yml
  app/email/clients/gmail/worker/api_client.py
  docs/Makefile
Due: docstring-check

fix: minor script fix in pre-commit-hook
  .pre-commit-config.yaml
Due: none

fix: updated doc-checks.yaml
  .github/workflows/doc-checks.yml
Due: none

fix: updated build.sh to run pipreqs with latin1 encoding
  build.sh
Due: none

fix: updated Makefile check-readme to only look at app/ modules
  docs/Makefile
Due: none

fix: syntax error in generate_readme
  scripts/generate_readme.py
Due: docstring-check

fix: added Cython to build.sh
  build.sh
Due: none

fix: added Cython to build.sh (#19)
  build.sh
Due: none

fix: updated pipreqs
  build.sh
Due: none

commit
  build.sh
Due: none

fix: updated build.sh to ignore venv
  build.sh
Due: none

fix: removed docs from pipreqs ignore
  build.sh
Due: none

fix: added docs requirements in build.sh
  build.sh
Due: none

fix: added missing reqs in build
  build.sh
  requirements.txt
Due: none

fix: added requirements-core.txt
  requirements-core.txt
Due: none

docs: updated readme reference links
  app/email/analyzers/README.md
  app/email/analyzers/content/README.md
  app/email/analyzers/semantic/README.md
  app/email/clients/README.md
  app/email/clients/gmail/README.md
  app/email/clients/imap/README.md
  app/email/pipeline/README.md
  app/models/README.md
  app/routes/README.md
  app/utils/README.md
Due: readme-check

Improve mobile UI/UX with comprehensive responsive design enhancements
  app/static/css/base/layout.css
  app/static/css/pages/email_summary.css
  app/static/js/modules/EmailUI.js
  app/static/js/pages/email_summary.js
  app/templates/base.html
  app/templates/email_summary.html
Due: none

fix: dynamic email-list-col based on filter toggled; improved filter-toggle UI on mobile
  app/static/css/pages/email_summary.css
Due: none

ui: Improve mobile UI/UX across multiple pages
  app/static/css/components/cards.css
  app/static/css/pages/login.css
  app/static/css/pages/settings.css
  app/templates/base.html
  app/templates/login.html
Due: none

ui: fixed padding in email-details-column on mobile.
  app/static/css/pages/email_summary.css
Due: none

ui: updates to settings page flex-boxes for mobile
  app/static/css/pages/settings.css
Due: none

fix: minor padding fix in email-details-column
  app/static/css/pages/email_summary.css
Due: none

ui: logo/favicon updates
  app/static/css/pages/login.css
  app/static/images/alt/beacon-header-dark-aligned.svg
  app/static/images/alt/beacon-header-dark-text.svg
  app/static/images/alt/beacon-header-white.svg
  app/static/images/alt/beacon-logo (1).svg
  app/static/images/alt/beacon-logo.svg
  app/static/images/logo/beacon-favicon-alt.svg
  app/static/images/logo/beacon-favicon-dark-full.svg
  app/static/images/logo/beacon-favicon-dark.svg
  app/static/images/logo/beacon-favicon.svg
  app/static/images/logo/beacon-header-dark.svg
  app/static/images/logo/beacon-header-sage.svg
  app/static/images/logo/beacon-header-white.svg
  app/static/images/logo/beacon-logo-dark.svg
  app/static/images/logo/beacon-logo-sage.png
  app/static/images/logo/beacon-logo-sage.svg
  app/static/images/logo/beacon-logo-white.svg
  app/static/images/prev /alternates/beacon-favicon.svg
  app/static/images/prev /alternates/beacon-header-dark.svg
  app/static/images/prev /alternates/beacon-header-white.svg
  app/static/images/prev /alternates/beacon-logo.svg
  app/static/images/prev /beacon-logo-hero.svg
  app/static/images/prev /beacon-logo.svg
  app/static/images/prev /favicon.svg
  app/static/images/prev /logo_120.png
  app/static/images/prev /logo_512.png
  app/templates/base.html
  app/templates/login.html
Due: none

ui: minor edits to docs and mobile styling for consistency and flow between pages
  app/static/css/base/layout.css
  app/static/css/pages/email_summary.css
  app/static/css/pages/login.css
  app/static/css/pages/policy.css
  app/static/js/components/scroll-fabs.js
  app/templates/base.html
  app/templates/components/scroll_fabs.html
  app/templates/login.html
  app/templates/static/privacy_policy.html
  app/templates/static/support.html
  app/templates/static/terms_of_service.html
  docs/sphinx/source/_static/beacon-favicon-dark.svg
  docs/sphinx/source/_static/beacon-header-dark.svg
  docs/sphinx/source/_static/beacon-header-white.svg
  docs/sphinx/source/_static/custom.css
  docs/sphinx/source/conf.py
  docs/sphinx/source/index.rst
Due: docstring-check

ui: fixed minor scrolling/positioning issues on email dashoard page
  app/static/css/pages/email_summary.css
Due: none

feat: added swipe to refresh on email list for mobile
  app/static/css/pages/email_summary.css
  app/static/js/pages/email_summary.js
  app/templates/email_summary.html
Due: none

fix: minor change to allow test routes in prod
  app/email/analyzers/semantic/processors/prompt_creator.py
  app/email/models/analysis_settings.py
  app/email/utils/priority_scorer.py
  app/routes/__init__.py
Due: docstring-check

feat: added an admin route to clear cache; move test routes back to debug mode only
  app/routes/__init__.py
  app/routes/admin_routes.py
  app/routes/test_routes.py
Due: docstring-check

fix: fixed imports and settings fetches for analyzer init
  app/email/analyzers/semantic/analyzer.py
  app/email/analyzers/semantic/processors/prompt_creator.py
  app/static/js/modules/EmailEvents.js
  app/static/js/pages/email_summary.js
Due: docstring-check

fix: fixed priority scorer and import issues for setting load on analyzer
  app/email/analyzers/semantic/processors/prompt_creator.py
  app/email/models/analysis_settings.py
Due: docstring-check
